<nav id="my-first">
  <ul>
    <li class="logotype">
      <a href="/home">EduServe</a>
    </li>
    <li class="burger" (click)="toggleMenu()">
      <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
    </li>
    <li class="menu" [class.is-open]="isMenuOpen">
      <a href="/" class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a href="/about" class="menu-item">About</a>
      <a href="/contact" class="menu-item">Contact</a>
      <a *ngIf="!user" href="/login" class="menu-item">Login</a>
      <a *ngIf="user" href="/dashboard" class="menu-item">Dashboard</a>
      <a *ngIf="user" (click)="logout()" class="menu-item" style="cursor: pointer;">Logout</a>
    </li>
  </ul>
</nav>

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
  </div>
</nav> -->
