<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <!-- Card stats -->
        <div class="flex flex-wrap mt-5">
          <div class="w-full lg:w-6/12 xl:w-3/12 px-2">
            <app-card-stats
              statSubtitle="Total Students"
              statTitle="3500"
              statArrow="up"
              statPercent="3.48"
              statPercentColor="text-emerald-500"
              statDescripiron="Since last month"
              statIconName="far fa-chart-bar"
              statIconColor="bg-red-500"
            ></app-card-stats>
          </div>
          <div class="w-full lg:w-6/12 xl:w-3/12 px-2">
            <app-card-stats
              statSubtitle="Total SchoolFees"
              statTitle="$86,600"
              statArrow="down"
              statPercent="3.48"
              statPercentColor="text-red-500"
              statDescripiron="Since last week"
              statIconName="fas fa-chart-pie"
              statIconColor="bg-orange-500"
            ></app-card-stats>
          </div>
          <div class="w-full lg:w-6/12 xl:w-3/12 px-2">
            <app-card-stats
              statSubtitle="Total Income"
              statTitle="$248,500"
              statArrow="down"
              statPercent="1.10"
              statPercentColor="text-orange-500"
              statDescripiron="Since yesterday"
              statIconName="fas fa-users"
              statIconColor="bg-pink-500"
            ></app-card-stats>
          </div>
          <div class="w-full lg:w-6/12 xl:w-3/12 px-2">
            <app-card-stats
              statSubtitle="Total Expenditure"
              statTitle="$110,600"
              statArrow="up"
              statPercent="12"
              statPercentColor="text-emerald-500"
              statDescripiron="Since last month"
              statIconName="fas fa-percent"
              statIconColor="bg-emerald-500"
            ></app-card-stats>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
