<section>
  <div class="container h-full px-6 py-20">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
    >
      About Us
    </h2>
    <p
      class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
    >
      Want to know more about us and the services we offer?
    </p>
    <!-- <h2 class="font-light bg-gray-100 mb-40" style="font-size: 28px; text-align: center;">Login Form</h2> -->
    <div
      class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between mt-10"
    >
      <!-- Left column container with background-->
      <div class="mb-12 md:mb-5 md:w-8/12 lg:w-6/12">
        <img
          src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="w-full"
          alt="Phone image"
        />
      </div>

      <!-- Right column container with form -->
      <div class="md:w-8/12 lg:ml-6 lg:w-5/12 mt-5">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum rerum,
          voluptatem obcaecati veritatis reprehenderit dolore, saepe sit beatae
          aspernatur minima, atque officiis? Error, est iste cupiditate, ratione
          eos veniam sint quia asperiores officiis veritatis dignissimos ad
          nihil molestiae in molestias accusamus! Soluta voluptatibus
          praesentium pariatur perferendis officia illo, voluptates quod
          eligendi harum quo culpa, cupiditate est rem deserunt eos ad iste
          consequatur cum, dolores dolorem fuga. Beatae repellat, vel incidunt
          similique, rerum repellendus, ullam esse dolorum mollitia id suscipit
          ratione commodi voluptates accusamus corporis sint sapiente natus
          harum at!
        </p>
        <p>
          Praesentium fuga possimus distinctio sed natus vel aut excepturi
          veritatis saepe inventore sequi voluptatem in harum facere eius est
          nostrum at neque pariatur ipsum eaque, error corporis rerum!
          Laudantium molestias suscipit optio voluptate vel fugit dignissimos
          veniam voluptatum? Impedit modi odit temporibus, similique in
          perferendis molestiae, nostrum repudiandae, reprehenderit eligendi
          praesentium fugiat reiciendis soluta numquam nesciunt ab ea itaque
          dolor? Sequi.
        </p>
      </div>
    </div>
  </div>
</section>
