<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="p-16">
      <div class="mb-16">
        <a href="/home" class="d-flex align-items-center">
          <img src="assets/images/favicon.png" alt="SB" />
          <span class="ms-16 fw-medium fs-26">EduServe</span>
        </a>
      </div>

      <div class="pt-8">
        <ul>
          <li class="list-group mb-8">
            <a
              matRipple
              [matRippleColor]="'#f7f8f443'"
              routerLink="/dashboard"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive"
            >
              <i-feather name="home" class="feather-base me-16"></i-feather>
              <span class="ps-4">Dashboard</span>
            </a>
          </li>
          <li class="list-group mb-8">
            <a
              matRipple
              [matRippleColor]="'#f7f8f443'"
              routerLink="/students"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive"
            >
              <i-feather name="user" class="feather-base me-16"></i-feather>
              <span class="ps-4">Students</span>
            </a>
          </li>
          <li class="list-group mb-8">
            <a
              matRipple
              [matRippleColor]="'#f7f8f443'"
              routerLink="/teachers"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive"
            >
              <i-feather name="user" class="feather-base me-16"></i-feather>
              <span class="ps-4">Teachers</span>
            </a>
          </li>
          <li class="list-group mb-8">
            <a
              matRipple
              [matRippleColor]="'#f7f8f443'"
              routerLink="/fees"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive"
            >
              <i-feather name="plus" class="feather-base me-16"></i-feather>
              <span class="ps-4">School Fee</span>
            </a>
          </li>
          <li class="list-group mb-8">
            <a
              matRipple
              [matRippleColor]="'#f7f8f443'"
              routerLink="/expenses"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive"
            >
              <i-feather name="book" class="feather-base me-16"></i-feather>
              <span class="ps-4">Expenses</span>
            </a>
          </li>
          <li class="list-group mb-8">
            <a
              matRipple
              [matRippleColor]="'#f7f8f443'"
              routerLink="/classes"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive"
            >
              <i-feather name="grid" class="feather-base me-16"></i-feather>
              <span class="ps-4">Classes</span>
            </a>
          </li>
          <li class="list-group mb-8">
            <a
              matRipple
              [matRippleColor]="'#f7f8f443'"
              routerLink="/subjects"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive"
            >
              <i-feather
                name="file-text"
                class="feather-base me-16"
              ></i-feather>
              <span class="ps-4">Subjects</span>
            </a>
          </li>
          <li class="list-group mb-8">
            <a
              matRipple
              [matRippleColor]="'#f7f8f443'"
              routerLink="/results"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive"
            >
              <i-feather
                name="divide-circle"
                class="feather-base me-16"
              ></i-feather>
              <span class="ps-4">Results</span>
            </a>
          </li>
          <li class="list-group mb-8">
            <a
              matRipple
              [matRippleColor]="'#f7f8f443'"
              routerLink="/posts"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive"
            >
              <i-feather name="grid" class="feather-base me-16"></i-feather>
              <span class="ps-4">Posts</span>
            </a>
          </li>
          <li class="list-group mb-8">
            <a
              matRipple
              [matRippleColor]="'#f7f8f443'"
              routerLink="/messages"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive"
            >
              <i-feather name="mail" class="feather-base me-16"></i-feather>
              <span class="ps-4">Messages</span>
            </a>
          </li>
          <li class="list-group mb-8">
            <a
              matRipple
              [matRippleColor]="'#f7f8f443'"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive"
              [matMenuTriggerFor]="userMenu"
            >
              <i-feather name="user" class="feather-base me-16"></i-feather>
              <span class="ps-4">Users</span>
            </a>
            <mat-menu #userMenu="matMenu">
              <button mat-menu-item routerLink="/users">All Users</button>
              <button mat-menu-item routerLink="/users/add">Add User</button>
            </mat-menu>
          </li>
          <li class="list-group mb-8">
            <a
              matRipple
              [matRippleColor]="'#f7f8f443'"
              routerLink="/settings"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center"
              [routerLinkActive]="routerActive"
            >
              <i-feather name="settings" class="feather-base me-16"></i-feather>
              <span class="ps-4">Settings</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="m-8 pt-4">
        <div class="buy-flexy ps-24 pe-24 mt-48 mb-48">
          <div class="text-center">
            <img
              src="assets/images/sidebar-buynow-bg.svg"
              class="img-fluid"
              alt=""
            />
            <div class="pt-24 pb-24 mt-8">
              <p class="fw-bold fs-18 mb-16 pb-8">Download School App</p>
              <ul>
                <li class="mb-8">
                  <a
                    mat-flat-button
                    color="primary"
                    class="fw-light w-100 fs-14"
                    >School App</a
                  >
                </li>
                <li>
                  <a
                    href="javascript:void(0)"
                    mat-flat-button
                    color="accent"
                    class="w-100 fw-light fs-14"
                    (click)="logout()"
                    >Log Out</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Header -->
    <mat-toolbar class="header ps-24 pe-24">
      <button
        type="button"
        class="ms-4"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <i-feather
          name="menu"
          class="text-light-muted feather-base mt-n3"
        ></i-feather>
      </button>
      <button mat-icon-button class="ms-4 me-4" (click)="search = !search">
        <i-feather
          name="search"
          class="mt-n3 text-light-muted feather-base text-dark"
        ></i-feather>
      </button>
      <div class="ms-auto">
        <button
          mat-button
          class="fs-16 pt-4 pb-4 ps-8 pe-8 text-light-muted d-flex align-items-center"
          [matMenuTriggerFor]="menu"
        >
          <div class="d-flex align-items-center">
            <img src="assets/images/user2.webp" class="rounded-circle" alt="" />
            <span class="fw-light ms-8 text-secondary">Hi,</span>
            <span class="fw-bold ms-8">Admin</span>
            <i-feather name="chevron-down" class="feather-base"></i-feather>
          </div>
        </button>
        <mat-menu #menu="matMenu" class="profile-dropdown">
          <div class="p-16 mb-4">
            <button routerLink="/account" mat-menu-item class="fs-16">
              Account
            </button>

            <button routerLink="/settings" mat-menu-item class="fs-16">
              Settings
            </button>
          </div>

          <hr />

          <div class="p-16">
            <button
              mat-flat-button
              color="accent"
              class="w-100 text-white"
              (click)="logout()"
            >
              Logout
            </button>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar>

    <!-- Content -->
    <div class="body-wrapper">
      <div class="page-wrapper">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </div>

    <p class="text-center pb-24 fs-16">
      © 2023 All rights reserved by
      <a class="text-indigo">DevsNow-Technologies</a>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Search Box -->
<div *ngIf="search" class="search-section d-flex align-items-center">
  <mat-form-field class="w-100" color="primary">
    <mat-label class="fs-16">Search Here</mat-label>
    <input matInput />
  </mat-form-field>
  <button mat-icon-button (click)="search = !search">
    <i-feather
      name="x-circle"
      class="mt-n3 text-light-muted feather-base text-dark"
    ></i-feather>
  </button>
</div>
