<div class="row">
  <div class="col-lg-6">
    <mat-card>
      <mat-card-content>
        <h4 class="mb-32">Expense/Income Overview</h4>
        <div class="max-width">
          <apx-chart
            [series]="activeusercardChartOptions.series"
            [dataLabels]="activeusercardChartOptions.dataLabels"
            [chart]="activeusercardChartOptions.chart"
            [legend]="activeusercardChartOptions.legend"
            [xaxis]="activeusercardChartOptions.xaxis"
            [grid]="activeusercardChartOptions.grid"
            [stroke]="activeusercardChartOptions.stroke"
            [tooltip]="activeusercardChartOptions.tooltip"
            [plotOptions]="activeusercardChartOptions.plotOptions"
          >
          </apx-chart>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card>
      <mat-card-content>
        <h4 class="mb-32">Students Overview</h4>
        <div class="max-width">
          <apx-chart
            [series]="activeusercardChartOptions2.series"
            [dataLabels]="activeusercardChartOptions2.dataLabels"
            [chart]="activeusercardChartOptions2.chart"
            [legend]="activeusercardChartOptions2.legend"
            [xaxis]="activeusercardChartOptions2.xaxis"
            [grid]="activeusercardChartOptions2.grid"
            [stroke]="activeusercardChartOptions2.stroke"
            [tooltip]="activeusercardChartOptions2.tooltip"
            [plotOptions]="activeusercardChartOptions2.plotOptions"
          >
          </apx-chart>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
